<!-- ParallaxContainer -->

<div class="prlx-scroll-wrapper">
	<div id="parallax-bg3">
		<div id="bg3-1">
			<div id="polish13pic">
			 </div>

			<!-- lipstick.pic -->
      <div id="bg3-2">
    		</div>
    		 <div id="bg3-3">
    	  </div>
        </div>
				<div class="lipstickpic"></div>

        <!-- polish14pic -->
		<div id="bg3-4">
			<div id="polish14pic"></div>
		<div id="bg3-5">
				<img class="par-image" src="https://s-media-cache-ak0.pinimg.com/736x/24/81/60/2481604096d2e3df4ad89fbe24ed4bcf.jpg" alt="In the world of beauty, there are endless beauty tips and rules to keep you looking fabulous. From secrets about how to style your hair without heat to brilliant ways to fix a broken compact case, the more beauty tips you know, the better you’ll be prepared to handle every situation thrown at you — and look good while doing so. In the list of beauty advice below Beauty High breaks down all those tricks to make the industry less scary for women from makeup artists, hairstylists, skincare gurus and of course, our beauty staff. Remember, beauty should always be fun!">
				<!-- by stylecaster -->
		</div>


    <!-- cutex12pic		 -->
    <!-- this image has fonts on it -->
		<div id="bg3-6">
			<div id="cutex12pic"></div>
		<div id="bg3-7">
			<img class="par-image" src="https://s-media-cache-ak0.pinimg.com/236x/bf/7d/31/bf7d31b46db6b8bc79f5031997cfa9d0.jpg" width="975" height="1200" alt="">
		</div>

  <!-- lost job bc gray hair pic -->
    <div id="parallax-bg2" style="top: -163.5px; visibility: visible;">
	<div id="bg2-1">

  </div>
  <img class="par-image" id="bg2-2" src="" width="576" height="550">
<div id="bg2-3">
  <img class="par-image" src="https://s-media-cache-ak0.pinimg.com/736x/93/ab/89/93ab890d9a8ab42c46883ae47b3ab495.jpg" width="976" height="1100" alt="">
</div>

<!-- foundation took imag out-->
		<img class="par-image" id="bg2-4" src="" width="500" height="500" alt="">
	<div id="bg2-5">
		<div id="foundation"><img class="par-image" src="https://s-media-cache-ak0.pinimg.com/736x/93/ab/89/93ab890d9a8ab42c46883ae47b3ab495.jpg" width="776" height="800" alt="">
		<!-- by Beauty and Tips -->
		</div>
	</div>

<!-- acme pic -->
  <!-- <img class="par-image" id="bg2-6" src="https://pbs.twimg.com/media/B0Sx9QsIAAAfl7Q.jpg" width="976" height="1000" alt="6_bkg"> -->
	<div id="bg2-7">
			<ul class="four-six">
					<span class="position">
						<span class="col-1"></span>
					</span>
					<span class="beauty-history">  Beauty History</span>
					<span class="weirdes-beauty"> Weirdest Beauty Trends and Methods Throughout History</span>
           <li><span class="unibrow">Unibrows Made Of Goat's Hair</span>

					<span class="info">
						"Perfume was central to Egyptian civilization and was used for both cosmetic and medical purposes. For example, Kyphi, one of the most famous Egyptian perfumes, made from flowers, honey, wine and berries, was also prepared as a drink to cure lung, intestinal, and liver problems. That said, don't go chugging a bottle of Chanel No. 5 to cure your next hangover."
					</span>
				</li>
				<li>
					<span class="position">
						<span class="col-2"></span>
					</span>
					<span class="unibrow">Removing Eyelashes In The Middle Ages</span>

					<span class="info">
						"Today, many of us do whatever we can to have the fullest and longest set of lashes around, whether that be using mascara that promises volume or conditioning treatments for growth and enhancement. However, it hasn't always been this way. During the Middle Ages, the forehead was considered the sexiest part of a woman's face. According to Marie Claire, women often removed most or all of their eyelashes (and eyebrows as well!) to accentuate this part of their faces. This is one wild look that I don't think I would ever have the strength to get behind honestly."
					 </span>
					</span>
					<span class="position">
						<span class="col-3"></span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

  <!-- Parallax  background pic -->
	 <div id="parallax-bg1" style="top: -22px;">
     <!-- Roux color shampoo pic - main pic-->
		<img class="par-image" id="bg1-2" src="http://www.vintageadsandstuff.com/viewhaircare47.jpeg" width="876" height="1200">

    <!-- Plastic surgery pic -->
		<img class="par-image" id="bg1-1" src="" width="976" height="1000">

		<!-- foods for the skin pic -->
		<img class="par-image" id="bg1-3" src="" width="400" height="300" style="Skin">
		<div id="bg1-4">

			<!-- fruit pic -->
			<img class="par-image"= src="http://www.vintageadsandstuff.com/viewhaircare47.jpeg" width="400" height="400">
			<ul class="one-three">
				<li>
					<span class="position">
						<span class="col-4"></span>

					<span class="unibrow">FUN FACTS ABOUT WOMEN</span>

					<span class="info">
						"1) An average woman eats about 2-3 kilos of lipstick in her lifetime.

							2) Women blink about 2 times more often than men. Interesting why?

							3) A woman will more easily trust somebody who hugs her for at least 15 seconds.

							4) 80% of women’s wrinkles are caused by excessive sun exposure.

							5) Women usually tie the belt of a dressing gown higher than their belly button, while men tie it lower.

							6) A woman doesn’t like it when her hands are free, this is why she is likely to carry with her a purse, gloves, a book or…something else… "
					</span>
				</span>
				</li>
				<li>
					<span class="position">
						<span class="col-5"></span>
					</span>
					<span class="unibrow">FUN FACTS ABOUT WOMEN

					<span class="info">
						"7) The first computer programmer was a woman. Her name is Ada Lovelace.

							8) According to researches, an average woman spends about 120 hours a year looking at herself in the mirror, which is approximately 5 entire days a year!

							9) After making love, women don’t feel like sleeping. They feel like talking and kissing.

							10) While turning to the call, a woman usually just turns her head, while a man will turn his entire body. It’s because women have more flexible neck.

							11) While making love, a woman worries about whether she looks pretty.

							12) A woman opens beer bottles with a beer bottle opener.

							13) Ladies close their ears with fingers, while men – with hands.."
					 </span>
					</span>
				</span>
				</li>
				<li>
					<span class="position">
						<span class="col6"></span>
					</span>
						<span class="unibrow">FUN FACTS ABOUT WOMEN</span>

					<span class="info">
						"14) When you ask a woman to give you a lighter, she won’t test the speed of your reaction, she will just give it to you.

							15) A woman prefers that her man reads her desires in her eyes…this is why communication between the two genders often gets complicated.

							Don’t take it seriously, these are just funny facts."s
							16) Let’s kick off with the word itself. Woman. Ever wonder where the word came from? Many people say it comes from the Middle English word ‘wifman’, meaning ‘wife of the man’.

							17) Three nippled ladies! About 2% of women have supernumerary or a third nipple.

							18) Hungry? An average woman eats about 2 to 3 kilos of lipstick in her lifetime.

							19) Turns out all we need is a hug. A woman will more easily trust somebody who hugs her for at least 15 seconds — if only men were that simple!

							20) Women may not actually have a higher pain threshold than men. Studies on the matter are inconclusive.

							21) Sunscreen makes you pretty! Duh. 80% of women’s wrinkles are caused by excessive sun exposure.

							22) On average, women hiccup less than men. Yay! Hiccups are the worst!

							23) Men sweat twice as much as woman. This one is easy to believe.

							24) Women live longer than men, partially because their immune systems age slower. I guess we should send this advice on boosting your immune system to the guys then?

							25) Women have significantly more nightmares than men and their dreams are usually more emotional.

							26) Speaking of emotional! Women cry between 30 and 64 times a year while men only cry between 6 and 17 times

							27) Liar liar pants on fire! Men lie 6 times a day, twice as much as women. This may explain why men drive women so crazy.
					</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
 </div>


<script type="text/javascript">
jQuery(document).ready(function(){
  $(window).scroll(function(e){
    parallaxScroll();
    });
 });
function parallaxScroll(){
    console.log("parallaxscroll")
    var scrolled = $(window).scrollTop();
    $('#bg3-1').css('top',(0-(scrolled*.19))+'px');
    $('#bg3-2').css('top',(0-(scrolled*.4))+'px');
    $('#bg3-3').css('top',(0-(scrolled*.75))+'px');
    $('#bg3-4').css('top',(0-(scrolled*.3166))+'px');
		$('#bg1-4').css('top',(0-(scrolled*.1630))+'px');
}
</script>
