<!-- ParallaxContainer -->

<div class="prlx-scroll-wrapper">
	<div id="parallax-bg3">
		<div id="bg3-1">
			<div id="polish13pic">
			 </div>

			<!-- lipstick.pic -->
      <div id="bg3-2">
    		</div>
    		 <div id="bg3-3">
    	  </div>
        </div>
				<div class="lipstickpic">

        <!-- polish14pic -->
		<div id="bg3-4">
			<div id="polish14pic"></div>
		<div id="bg3-5">
				<img class="par-image" src="https://s-media-cache-ak0.pinimg.com/736x/24/81/60/2481604096d2e3df4ad89fbe24ed4bcf.jpg" width="500" height="600" alt="In the world of beauty, there are endless beauty tips and rules to keep you looking fabulous. From secrets about how to style your hair without heat to brilliant ways to fix a broken compact case, the more beauty tips you know, the better you’ll be prepared to handle every situation thrown at you — and look good while doing so. In the list of beauty advice below Beauty High breaks down all those tricks to make the industry less scary for women from makeup artists, hairstylists, skincare gurus and of course, our beauty staff. Remember, beauty should always be fun!">
				<!-- by stylecaster -->
		</div>


    <!-- cutex12pic		 -->
    <!-- this image has fonts on it -->
		<div id="bg3-6">
			<div id="cutex12pic"></div>
		<div id="bg3-7">
			<img class="par-image" src="https://s-media-cache-ak0.pinimg.com/236x/bf/7d/31/bf7d31b46db6b8bc79f5031997cfa9d0.jpg" width="975" height="1200" alt="">
		</div>

  <!-- lost job bc gray hair pic -->
    <div id="parallax-bg2" style="top: -163.5px; visibility: visible;">
	<div id="bg2-1">

  </div>
  <img class="par-image" id="bg2-2" src="" width="576" height="550">
<div id="bg2-3">
  <img class="par-image" src="https://s-media-cache-ak0.pinimg.com/736x/93/ab/89/93ab890d9a8ab42c46883ae47b3ab495.jpg" width="976" height="1100" alt="">
</div>

<!-- foundation took imag out-->
		<img class="par-image" id="bg2-4" src="" width="500" height="500" alt="">
	<div id="bg2-5">
		<div id="foundation"><img class="par-image" src="" width="776" height="800" alt=""There’s always something new to learn about beauty and the history of fashion and makeup, and it’s always useful to have a few random facts about beauty up your sleeve to get a conversation going or to impress your friends. So, we found ten totally random facts about beauty for you. Form radioactive makeup to a girl called Mable who inspired a makeup brand, read on, and you will find ten fascinating facts about beauty that we would bet you didn’t know.">
		<!-- by Beauty and Tips -->
		</div>
	</div>

<!-- acme pic -->
  <!-- <img class="par-image" id="bg2-6" src="https://pbs.twimg.com/media/B0Sx9QsIAAAfl7Q.jpg" width="976" height="1000" alt="6_bkg"> -->
	<div id="bg2-7">
		<span class="beauty-history">  Beauty History</span>
		<span class="weirdes-beauty"> Weirdest Beauty Trends and Methods Throughout History</span>
			<ul class="four-six">
				<li>
					<span class="position">
						<span class="col-1"></span>
					</span>
          <span class="unibrow">Unibrows Made Of Goat's Hair</span>

					<span class="info">
						"Perfume was central to Egyptian civilization and was used for both cosmetic and medical purposes. For example, Kyphi, one of the most famous Egyptian perfumes, made from flowers, honey, wine and berries, was also prepared as a drink to cure lung, intestinal, and liver problems. That said, don't go chugging a bottle of Chanel No. 5 to cure your next hangover."
					</span>
				</li>
				<li>
					<span class="position">
						<span class="col-2"></span>
					</span>
					<span class="unibrow">Removing Eyelashes In The Middle Ages</span>

					<span class="info">
						"Today, many of us do whatever we can to have the fullest and longest set of lashes around, whether that be using mascara that promises volume or conditioning treatments for growth and enhancement. However, it hasn't always been this way. During the Middle Ages, the forehead was considered the sexiest part of a woman's face. According to Marie Claire, women often removed most or all of their eyelashes (and eyebrows as well!) to accentuate this part of their faces. This is one wild look that I don't think I would ever have the strength to get behind honestly."
					</span>
				</li>
				<li>
					<span class="position">
						<span class="col-3"></span>
					</span>
					<span class="unibrow"></span>
					<span class="info"></span>
				</li>
			</ul>
		</div>
	</div>

  <!-- Parallax  background pic -->
	 <div id="parallax-bg1" style="top: -22px;">
     <!-- Roux color shampoo pic - main pic-->
		<img class="par-image" id="bg1-2" src="http://www.vintageadsandstuff.com/viewhaircare47.jpeg" width="876" height="1200">

    <!-- Plastic surgery pic -->
		<img class="par-image" id="bg1-1" src="http://www.drbenlight.com/wp-content/uploads/2015/06/Ben-Light-Facial-Plastic-Surgery_Edits.jpg" width="976" height="1000">

		<!-- foods for the skin pic -->
		<img class="par-image" id="bg1-3" src="https://static1.squarespace.com/static/547ae33ce4b066b3423c4e30/55f4dcc1e4b029b54a77b911/55f4dd62e4b0c4d66d3a6a12/1442110819300/Onlyanurse+nurse+humor+2hhh.jpg?format=500w" width="400" height="300" style="Skin">
		<div id="bg1-4">

			<!-- fruit pic -->
			<img class="par-image"= src="https://s-media-cache-ak0.pinimg.com/736x/cf/d1/a9/cfd1a967a4f497bc3c0d0bfd6f9a6de2.jpg" width="976" height="400">
			<ul class="one-three">
				<li>
					<span class="position">
						<span class="col-4"></span>
					</span>
					<span class="unibrow">FUN FACTS ABOUT WOMEN</span>

					<span class="info">
						"1) An average woman eats about 2-3 kilos of lipstick in her lifetime.

							2) Women blink about 2 times more often than men. Interesting why?

							3) A woman will more easily trust somebody who hugs her for at least 15 seconds.

							4) 80% of women’s wrinkles are caused by excessive sun exposure.

							5) Women usually tie the belt of a dressing gown higher than their belly button, while men tie it lower.

							6) A woman doesn’t like it when her hands are free, this is why she is likely to carry with her a purse, gloves, a book or…something else… "
					</span>
				</li>
				<li>
					<span class="position">
						<span class="col-5"></span>
					</span>
					<span class="unibrow">FUN FACTS ABOUT WOMEN</span>

					<span class="info">
						"7) The first computer programmer was a woman. Her name is Ada Lovelace.

							8) According to researches, an average woman spends about 120 hours a year looking at herself in the mirror, which is approximately 5 entire days a year!

							9) After making love, women don’t feel like sleeping. They feel like talking and kissing.

							10) While turning to the call, a woman usually just turns her head, while a man will turn his entire body. It’s because women have more flexible neck.

							11) While making love, a woman worries about whether she looks pretty.

							12) A woman opens beer bottles with a beer bottle opener.

							13) Ladies close their ears with fingers, while men – with hands.."
					</span>
				</li>
				<li>
					<span class="position">
						<span class="col6"></span>
					</span>
						<span class="unibrow">FUN FACTS ABOUT WOMEN</span>

					<span class="info">
						"14) When you ask a woman to give you a lighter, she won’t test the speed of your reaction, she will just give it to you.

							15) A woman prefers that her man reads her desires in her eyes…this is why communication between the two genders often gets complicated.

							Don’t take it seriously, these are just funny facts."s
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  $(window).scroll(function(e){
    parallaxScroll();
    });
 });
function parallaxScroll(){
    console.log("parallaxscroll")
    var scrolled = $(window).scrollTop();
    $('#bg3-1').css('top',(0-(scrolled*.19))+'px');
    $('#bg3-2').css('top',(0-(scrolled*.4))+'px');
    $('#bg3-3').css('top',(0-(scrolled*.75))+'px');
    $('#bg3-4').css('top',(0-(scrolled*.66))+'px');

}

</script>
