<!-- <h1>Life#index</h1>
<p>Find me in app/views/life/index.html.erb</p> -->

<h3>Fun Facts</h3>

<!-- <div class="life-lucy">
 <%= image_tag "lucy.9.gif" %> -->
 <div class="video-1">

 </div>

</div>
<div class="video1">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/wG5JyorwYPo" frameborder="0" allowfullscreen></iframe>
</div>


<body id="body1" data-spy="scroll" data-target=".navbar" data-offset="50">


<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Section 1</a></li>
          <li><a href="#section2">Section 2</a></li>
          <li><a href="#section3">Section 3</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section41">Section 4-1</a></li>
              <li><a href="#section42">Section 4-2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->

<div id="section1" class="container-fluid">
  <!-- <%= image_tag "animated1.gif" %> -->
  <!-- by buzz feed -->
  <h1>Incredibly Weird Facts You'll Want To Tell All Your Friends</h1>
  <p>
    <ol>
      <li>The longest time between two twins being born is 87 days.</li>
      <li>The world's deepest postbox is in Susami Bay in Japan. It's 10 metres underwater.</li>
      <li> In 2007, an American man named Corey Taylor tried to fake his own death in order to get out of his cell phone contract without paying a fee. It didn't work.</li>
      <li> The oldest condoms ever found date back to the 1640s (they were found in a cesspit at Dudley Castle), and were made from animal and fish intestines.</li>
      <li>Everyone has a unique tongue print, just like fingerprints.</li>
      <li> Most Muppets are left-handed. (Because most Muppeteers are right-handed, so they operate the head with their favoured hand.)</li>
      <li>Female kangaroos have three vaginas.</li>
  </ol>
    </p>
  </div>
  <div id="section2" class="container-fluid">
    <h1>Cool and Weird Fun Facts that you should know!</h1>
    <p>
    <ol>
      <li> McDonalds calls frequent buyers of their food “heavy users.”</li>
      <li>The average person spends 6 months of their lifetime waiting on a red light to turn green.</li>
      <li>The largest recorded snowflake was in Keogh, MT during year 1887, and was 15 inches wide.</li>
      <li> You burn more calories sleeping than you do watching television.</li>
      <li> There are more lifeforms living on your skin than there are people on the planet.</li>
      <li> Southern sea otters have flaps of skin under their forelegs that act as pockets. When diving, they use these pouches to store rocks and food.</li>
      <li>In 1386 a pig in France was executed by public hanging for the murder of a child.</li>
      <li>One in every five adults believe that aliens are hiding in our planet disguised as humans.</li>
      <li>If you believe that you’re truly one in a million, there are still approximately 7,184 more people out there just like you.</li>
     <li> A single cloud can weight more than 1 million pounds.</li>
      <li>A human will eat on average 70 assorted insects and 10 spiders while sleeping.</li>
      <li> James Buchanan, the 15th U.S. president continuously bought slaves with his own money in order to free them.
      <li>There are more possible iterations of a game of chess than there are atoms in the known universe.</li>
      <li>The average person walks the equivalent of three times around the world in a lifetime.</li>
      <li>Men are 6 times more likely to be struck by lightning than women.
      <li>Coca-Cola would be green if coloring wasn’t added to it.
      18. You cannot snore and dream at the same time.</li>


    </ol>
  </p>
</div>
<div id="section3" class="container-fluid">
  <h1>22 GROSS BUT STILL INTERESTING FACTS</h1>
  <!-- Bro my God -->
  <p>
  <ol>
    <li>Jelly beans are covered in shellac (which is made from bug EXCRETIONS)</li>
    <li>Dragonflies have shovelshaped Penises so they can scoop out their rivals sperm</li>
    <li>On average, humans will eat about eight spirders during their lifetime</li>
    <li>15% of the air you breathe in an average metro station is HUMAN SKIN</li>
    <li>Termites have the smelliest farts</li>
    <li>In ancient Rome urine was useed to whiten teeth</li>
    <li>The FDA also allows 1 pound of Peanut Butter to contain 150 bug fragments</li>
  </ol></p>
</div>

  <div id="section41" class="container-fluid">

  <h1>Disgusting Things That Are Legally Allowed In Your Food</h1>
  <p>
    <ol>
      <li>The FDA keeps a document called the Defect Levels Handbook that outlines exactly what types of defects mass-produced food can have and still be considered safe to eat.</li>
      <li>Listed below are some of the defect limits set by the FDA — that is, the point where the food becomes “adulterated.” Defects less than what’s listed below won’t hurt you, and are legally allowed.</li>
      <li> Beetle eggs in your canned or frozen asparagus.</li>
      <li>Bugs in your apple butter.</li>
      <li>Rodent hairs in your cinnamon.</li>
    </ol>
  </p>
</div>
<div id="video2" class="container-fluid">
  <div class="video2">
  <iframe width="400" height="315" src="https://www.youtube.com/embed/a_odVQK-TSc" frameborder="0" allowfullscreen></iframe>
</div>
</div>

</body>
