// Place all the styles related to the beautys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// bg 3-1 pic - scrollmagic
#bg3-1{
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/4d/7c/e5/4d7ce5cec4caf29645c09d2857eef374.jpg');
  position: relative;

	height: 1200px;
	width: 1200px;
	left: 200px;
  background-repeat: no-repeat;
	z-index: 5;
	display: inline-block;
}

#cutex12pic{
	border: 2px solid red;
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/8c/a2/a9/8ca2a9a25aa79f477691aac4e974d560.jpg');
	height: 1200px;
	width: 976px;
	z-index: 2;
	display: inline-block;
}

// bg 3-2 pic - scrollmagic
.lipstickpic {
	background: none repeat scroll 0 0 transparent;
	border: 2px solid red;
	position: relative;
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/0e/3f/72/0e3f723dc80b59bdb18b18cb3d1e06ef.jpg');
	top: 500px;
	height: 1450px;
	width: 650px;
	right: -100px;
	z-index: 6;
	display: inline-block;
}

// inventing beauty
#polish14pic {
	background-image: url('https://images-na.ssl-images-amazon.com/images/I/51stHS9pCcL.jpg');
	position: relative;
	top: 8800px;
	height: 500px;
	width: 1000px;
  background-size: contain;
	z-index: 4;
	display: inline-block;
}
// vintage newspaper pic
// #lipstickpic {
// 	border: 2px solid red;
// 	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/cf/d1/a9/cfd1a967a4f497bc3c0d0bfd6f9a6de2.jpg');
// 	z-index: 2;
//   left: -300px;
//   background-size: cover;
// 	display: inline-block;
// }

.prlx-scroll-wrapper {
  // overflow: hidden;
  position: relative;
  height: 7000px;
  top: 1200px;
  text-align: center;

}

#parallax-bg3 {
  top: -291.5px;
  visibility: visible;
  width: 100%;
}

// #parallax-bg3 {
//   z-index: 3;
//   left: 50%;
//   width: 100%;
// }

// #bg3-1 {
//   top: 1200px;
//   /*position: absolute;*/
//   left: 0px;
//
//   width: 100%;
//
// }

.par-image img {
  -webkit-user-select: none;
  width: 976px;
  height: 1200px;
}

#bg3-2 {
  position: absolute;
  top: 1660px;
  left: 0px;
  width: 100%;

}


#bg3-3  {
  position: absolute;
  top: 1740px;
  left: 0px;
  width: 100%;
}
// inventing beauty pic
  #bg3-4 {
  position: relative;
	top: 5125px;
  left: 0px;
  width: 100%;
  }

  #bg3-5 {
  position: relative;
  top: 6360px;
  left: 340px;
}
//
// main pic on page
#bg3-6 {
  position: absolute;
  top: 4550px;
  left: 0px;

 }
 // textarea
 #bg3-7 {
    position: absolute;
    top: 6080px;
    left: 0px;
  }

	#bg3-8 {
  position: relative;
  left: 0px;
}

  #parallax-bg2 img {
  visibility: hidden;
  z-index: 2;
  left: 50%;
  top: 0px;
  width: 100%;
  margin-left: -488px;
}

#bg2-1 img {
  top: 50px;
  position: absolute;
  left: 0px;
  width: 100%;
}

#bg2-2 img {
  position: absolute;
  top: 2967px;
  left: 0px;

}

#bg2-3 {
  position: absolute;
  top: 2130px;
  left: 0px;
  width: 100%

}

#bg2-5 {
  position: absolute;
  top: 3967px;
  left: 0px;
}
//
.beauty-history {
  display: block;
  font-size: 2.3em;
  font-weight: bold;
  line-height: 38px;
}

.weirdes-beauty {
  font-size: 1.4em;

}

.four-six  {
	background: none repeat scroll 0 0 transparent;
  position: absolute;
  top: 1640px;
  left: -15px;
  width: 976px;
	background-color: #DAD9CB;

}

.unibrow img {
	top: 400px;
	text-align: center;
  display: block;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  width: 629px;
  padding: 8px 0 0 0;
  line-height: 1em;
	list-style: none;
}

// .info img{
//   display: block;
//   font-size: 14px;
//   font-weight: bold;
//   position: relative;
//   width: 629px;
//   top: 400px;
//   line-height: 1em;
// 	list-style: none;
// }

.col-4 img{
  color: #66c3b9;
  line-height: 1em;
  padding-right: 8px;

}

#parallax-bg1 {
  z-index: -10;
  position: fixed;
	top: 9000px;
  left: 50%;
  width: 976px;
	height: 200px;
  margin-left: -488px;
}

#bg1-2 {
  position: absolute;
	top: 200px;
  left: 0px;
   z-index: -10;
  width: 100%;

}

#bg1-1 {
  position: absolute;
  top: 1035px;
  left: 0px;
  width: 100%;
}

#bg1-3 {
  position: relative;
  top: 1975px;
  left: 0px;
	height: 400px;
  width: 400px;
}

#bg1-4 {
  position: relative;
  top: 11040px;
  left: 0px;
	width: 200px;
	height: 200px;
}

.one-three {
  position: absolute;
  top: 500px;
  left: -15px;
  width: 976px;
  background-color: #DAD9CB;

}
