<!DOCTYPE html>
<html>
  <head>
    <title>FunFacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




    <nav>
      <ul>
        <li>history</li>
        <li>life</li>
        <li>animal</li>
        <li>beauty</li>
      </ul>
    </nav>



    <%= yield %>


    <!-- scrollMagic script -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
   <!-- ...... -->

   <script src="path/to/js/jquery.min.js"></script>
   <!-- should be replaced with minified version when development is finished -->
   <script src="path/to/js/jquery.scrollmagic.js"></script>
   <!-- should be removed when development is finished -->
   <script src="path/to/js/jquery.scrollmagic.debug.js"></script>
   <script>
   // this is where our code will go
   </script>
  </body>
</html>
