<!DOCTYPE html>
<html>
  <head>
    <title>FunFacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- scroll life - index-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- ScrollMagic - home page -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
		<script src="https://rawgit.com/janpaepke/ScrollMagic/master/js/jquery.scrollmagic.js"></script>
		<script src="https://rawgit.com/janpaepke/ScrollMagic/master/js/jquery.scrollmagic.debug.js"></script>

  </head>

  <body>





    <nav>
      <ul>
        <li>history</li>
        <li>life</li>
        <li>animal</li>
        <li>beauty</li>
      </ul>
    </nav>




    <%= yield %>


    <!-- scrollMagic script -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
   <!-- ...... -->

   <script src="path/to/js/jquery.min.js"></script>
   <!-- should be replaced with minified version when development is finished -->
   <script src="path/to/js/jquery.scrollmagic.js"></script>
   <!-- should be removed when development is finished -->
   <script src="path/to/js/jquery.scrollmagic.debug.js"></script>

  </body>
</html>
